In [211]:
import pandas as pd
import numpy as np
from pydataset import data
from pyspark.sql.functions import col, expr

np.random.seed(456)

pandas_dataframe = pd.DataFrame(
    dict(n=np.arange(20), group=np.random.choice(list("abc"), 20))
)

import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [3]:
spark

In [4]:
pandas_dataframe

     n group
0    0     b
1    1     b
2    2     c
3    3     a
4    4     c
5    5     c
6    6     a
7    7     b
8    8     a
9    9     b
10  10     b
11  11     a
12  12     b
13  13     a
14  14     b
15  15     b
16  16     c
17  17     c
18  18     a
19  19     c

In [6]:
df = spark.createDataFrame(pandas_dataframe)

In [7]:
df

DataFrame[n: bigint, group: string]

In [8]:
df.show()

+---+-----+
|  n|group|
+---+-----+
|  0|    b|
|  1|    b|
|  2|    c|
|  3|    a|
|  4|    c|
|  5|    c|
|  6|    a|
|  7|    b|
|  8|    a|
|  9|    b|
| 10|    b|
| 11|    a|
| 12|    b|
| 13|    a|
| 14|    b|
| 15|    b|
| 16|    c|
| 17|    c|
| 18|    a|
| 19|    c|
+---+-----+

In [9]:
df.describe()

DataFrame[summary: string, n: string, group: string]

In [10]:
df.describe().show()

+-------+-----------------+-----+
|summary|                n|group|
+-------+-----------------+-----+
|  count|               20|   20|
|   mean|              9.5| null|
| stddev|5.916079783099616| null|
|    min|                0|    a|
|    max|               19|    c|
+-------+-----------------+-----+

In [11]:
df.group

Column<b'group'>

In [12]:
type(df.group)

pyspark.sql.column.Column

In [13]:
df.select(df.group)

DataFrame[group: string]

In [14]:
df.select(df.group).show()

+-----+
|group|
+-----+
|    b|
|    b|
|    c|
|    a|
|    c|
|    c|
|    a|
|    b|
|    a|
|    b|
|    b|
|    a|
|    b|
|    a|
|    b|
|    b|
|    c|
|    c|
|    a|
|    c|
+-----+

In [15]:
df.select(df.n).show()

+---+
|  n|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+

In [16]:
df.select(df.n + 1).show()

+-------+
|(n + 1)|
+-------+
|      1|
|      2|
|      3|
|      4|
|      5|
|      6|
|      7|
|      8|
|      9|
|     10|
|     11|
|     12|
|     13|
|     14|
|     15|
|     16|
|     17|
|     18|
|     19|
|     20|
+-------+

In [17]:
df.n + 1

Column<b'(n + 1)'>

In [18]:
n_incremented = df.n + 1

In [21]:
n_incremented

Column<b'(n + 1)'>

In [22]:
df.select(n_incremented).show()

+-------+
|(n + 1)|
+-------+
|      1|
|      2|
|      3|
|      4|
|      5|
|      6|
|      7|
|      8|
|      9|
|     10|
|     11|
|     12|
|     13|
|     14|
|     15|
|     16|
|     17|
|     18|
|     19|
|     20|
+-------+

In [24]:
df.select(n_incremented).describe().show()

+-------+-----------------+
|summary|          (n + 1)|
+-------+-----------------+
|  count|               20|
|   mean|             10.5|
| stddev|5.916079783099616|
|    min|                1|
|    max|               20|
+-------+-----------------+

In [26]:
df.select(n_incremented).describe().show()

+-------+-----------------+
|summary|          (n + 1)|
+-------+-----------------+
|  count|               20|
|   mean|             10.5|
| stddev|5.916079783099616|
|    min|                1|
|    max|               20|
+-------+-----------------+

In [28]:
df.describe().select('n', 'summary').show()

+-----------------+-------+
|                n|summary|
+-----------------+-------+
|               20|  count|
|              9.5|   mean|
|5.916079783099616| stddev|
|                0|    min|
|               19|    max|
+-----------------+-------+

In [29]:
df.show(5)

+---+-----+
|  n|group|
+---+-----+
|  0|    b|
|  1|    b|
|  2|    c|
|  3|    a|
|  4|    c|
+---+-----+
only showing top 5 rows

In [35]:
df.select('n').describe().show()

+-------+-----------------+
|summary|                n|
+-------+-----------------+
|  count|               20|
|   mean|              9.5|
| stddev|5.916079783099616|
|    min|                0|
|    max|               19|
+-------+-----------------+

In [36]:
df.select('group').show()

+-----+
|group|
+-----+
|    b|
|    b|
|    c|
|    a|
|    c|
|    c|
|    a|
|    b|
|    a|
|    b|
|    b|
|    a|
|    b|
|    a|
|    b|
|    b|
|    c|
|    c|
|    a|
|    c|
+-----+

In [43]:
mpg = spark.createDataFrame(data('mpg'))

In [44]:
mpg.select(mpg.model, 'manufacturer', mpg.hwy).show()

+------------------+------------+---+
|             model|manufacturer|hwy|
+------------------+------------+---+
|                a4|        audi| 29|
|                a4|        audi| 29|
|                a4|        audi| 31|
|                a4|        audi| 30|
|                a4|        audi| 26|
|                a4|        audi| 26|
|                a4|        audi| 27|
|        a4 quattro|        audi| 26|
|        a4 quattro|        audi| 25|
|        a4 quattro|        audi| 28|
|        a4 quattro|        audi| 27|
|        a4 quattro|        audi| 25|
|        a4 quattro|        audi| 25|
|        a4 quattro|        audi| 25|
|        a4 quattro|        audi| 25|
|        a6 quattro|        audi| 24|
|        a6 quattro|        audi| 25|
|        a6 quattro|        audi| 23|
|c1500 suburban 2wd|   chevrolet| 20|
|c1500 suburban 2wd|   chevrolet| 15|
+------------------+------------+---+
only showing top 20 rows

In [48]:
mpg.hwy

Column<b'hwy'>

In [49]:
mpg.select(mpg.model, 'manufacturer', mpg.hwy.alias('highway_mileage')).show()

+------------------+------------+---------------+
|             model|manufacturer|highway_mileage|
+------------------+------------+---------------+
|                a4|        audi|             29|
|                a4|        audi|             29|
|                a4|        audi|             31|
|                a4|        audi|             30|
|                a4|        audi|             26|
|                a4|        audi|             26|
|                a4|        audi|             27|
|        a4 quattro|        audi|             26|
|        a4 quattro|        audi|             25|
|        a4 quattro|        audi|             28|
|        a4 quattro|        audi|             27|
|        a4 quattro|        audi|             25|
|        a4 quattro|        audi|             25|
|        a4 quattro|        audi|             25|
|        a4 quattro|        audi|             25|
|        a6 quattro|        audi|             24|
|        a6 quattro|        audi|             25|
|        a6 quattro|        audi|             23|
|c1500 suburban 2wd|   chevrolet|             20|
|c1500 suburban 2wd|   chevrolet|             15|
+------------------+------------+---------------+
only showing top 20 rows

In [50]:
# Average of city and highway
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [57]:
avg_mileage_column = mpg.select((mpg.cty + mpg.hwy) / 2).alias('avg_mileage')

In [60]:
avg_mileage_column.show()

+-----------------+
|((cty + hwy) / 2)|
+-----------------+
|             23.5|
|             25.0|
|             25.5|
|             25.5|
|             21.0|
|             22.0|
|             22.5|
|             22.0|
|             20.5|
|             24.0|
|             23.0|
|             20.0|
|             21.0|
|             21.0|
|             20.0|
|             19.5|
|             21.0|
|             19.5|
|             17.0|
|             13.0|
+-----------------+
only showing top 20 rows

In [81]:
mpg.select('*').show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows

In [62]:
from pyspark.sql.functions import col, expr

col

In [72]:
col('mpg')

Column<b'mpg'>

In [71]:
mpg.select(col('hwy')).show()

+---+
|hwy|
+---+
| 29|
| 29|
| 31|
| 30|
| 26|
| 26|
| 27|
| 26|
| 25|
| 28|
| 27|
| 25|
| 25|
| 25|
| 25|
| 24|
| 25|
| 23|
| 20|
| 15|
+---+
only showing top 20 rows

In [245]:
test=col('hwy') * 2

In [161]:
mpg.select(col('hwy').alias('highway_mileage')).show(4)

+---------------+
|highway_mileage|
+---------------+
|             29|
|             29|
|             31|
|             30|
+---------------+
only showing top 4 rows

In [162]:
from pyspark.sql.functions import expr

In [165]:
mpg.select(expr('hwy AS highway_mileage')).show(4)

+---------------+
|highway_mileage|
+---------------+
|             29|
|             29|
|             31|
|             30|
+---------------+
only showing top 4 rows

In [166]:
mpg.select(expr('(hwy + cty) / 2 AS average_mileage')).show(3)

+---------------+
|average_mileage|
+---------------+
|           23.5|
|           25.0|
|           25.5|
+---------------+
only showing top 3 rows

In [167]:
mpg.select(expr('AVG(hwy)')).show()

+-----------------+
|         avg(hwy)|
+-----------------+
|23.44017094017094|
+-----------------+

In [168]:
mpg.createOrReplaceTempView('mpg')

In [186]:
mpg2 = spark.sql('''
SELECT 
    cty AS city,
    hwy AS highway,
    (cty + hwy) / 2 AS avg_mileage
FROM mpg
WHERE class = 'compact'
''')

In [247]:
mpg2.show(1)

+----+-------+-----------+
|city|highway|avg_mileage|
+----+-------+-----------+
|  18|     29|       23.5|
+----+-------+-----------+
only showing top 1 row

In [191]:
mpg2.select('city', 'highway').show(3)

+----+-------+
|city|highway|
+----+-------+
|  18|     29|
|  21|     29|
|  20|     31|
+----+-------+
only showing top 3 rows

In [249]:
mpg.select('class').describe().show(3)

+-------+-----+
|summary|class|
+-------+-----+
|  count|  234|
|   mean| null|
| stddev| null|
+-------+-----+
only showing top 3 rows

In [192]:
mpg.dtypes

[('manufacturer', 'string'),
 ('model', 'string'),
 ('displ', 'double'),
 ('year', 'bigint'),
 ('cyl', 'bigint'),
 ('trans', 'string'),
 ('drv', 'string'),
 ('cty', 'bigint'),
 ('hwy', 'bigint'),
 ('fl', 'string'),
 ('class', 'string')]

In [193]:
mpg.printSchema()

root
 |-- manufacturer: string (nullable = true)
 |-- model: string (nullable = true)
 |-- displ: double (nullable = true)
 |-- year: long (nullable = true)
 |-- cyl: long (nullable = true)
 |-- trans: string (nullable = true)
 |-- drv: string (nullable = true)
 |-- cty: long (nullable = true)
 |-- hwy: long (nullable = true)
 |-- fl: string (nullable = true)
 |-- class: string (nullable = true)

In [254]:
mpg.cyl.cast('string')

Column<b'CAST(cyl AS STRING)'>

In [230]:
mpg.select('*', mpg.cyl.cast('string').alias('cyl_string')).show(4)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+----------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|cyl_string|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+----------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|         4|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|         4|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|         4|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|         4|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+----------+
only showing top 4 rows

In [224]:
spark.sql('SELECT *, CAST(cyl AS STRING) AS cyl_string FROM mpg').show(3)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+----------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|cyl_string|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+----------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|         4|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|         4|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|         4|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+----------+
only showing top 3 rows

In [200]:
mpg.select(mpg.manufacturer.cast('double')).show(3)

+------------+
|manufacturer|
+------------+
|        null|
|        null|
|        null|
+------------+
only showing top 3 rows

In [205]:
min([1,2,3]), max([1,2,3])

(1, 3)

In [209]:
from pyspark.sql.functions import min, max

In [235]:
#mpg.show(3)

In [234]:
mpg.select(min(mpg.cyl).alias('min_cyl'), max(mpg.hwy)).show()

+-------+--------+
|min_cyl|max(hwy)|
+-------+--------+
|      4|      44|
+-------+--------+

In [241]:
spark.sql('SELECT MIN(cyl) AS min_cyl, MAX(hwy) FROM mpg').show()

+-------+--------+
|min_cyl|max(hwy)|
+-------+--------+
|      4|      44|
+-------+--------+

In [82]:
# Mini-exercises

In [93]:

import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)
pandas_dataframe.head()

          n group  abool
0 -0.712391     z  False
1  0.753766     x  False
2 -0.044503     z  False
3  0.451812     y  False
4  1.345102     z  False

In [89]:
df = spark.createDataFrame(pandas_dataframe)

In [94]:
df.show(3), df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

(None, None)

In [95]:
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885216| null|
| stddev|0.8905322898155364| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

In [129]:
df.select('n', 'abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [130]:
df.select(df.group, df.abool.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

In [133]:
practice = df.select(df.group, df.n.alias('a_numeric_value'))

In [134]:
practice.show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

In [136]:
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)
pandas_dataframe.head(3)

          n group  abool
0 -0.712391     z  False
1  0.753766     x  False
2 -0.044503     z  False

In [137]:
df_2 = spark.createDataFrame(pandas_dataframe)

In [138]:
df_2.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [142]:
df_2.select(df_2.n + 4).show(3)

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
+------------------+
only showing top 3 rows

In [143]:
df_2.select(df_2.n - 5).show(3)

+------------------+
|           (n - 5)|
+------------------+
|-5.712390662050588|
|-4.246233621340297|
|-5.044503078338053|
+------------------+
only showing top 3 rows

In [213]:
df_2.select(col('n') - 5).show(3)

+------------------+
|           (n - 5)|
+------------------+
|-5.712390662050588|
|-4.246233621340297|
|-5.044503078338053|
+------------------+
only showing top 3 rows

In [144]:
df_2.select(df_2.n * 2, df_2.n).show(3)

+--------------------+--------------------+
|             (n * 2)|                   n|
+--------------------+--------------------+
|  -1.424781324101176|  -0.712390662050588|
|   1.507532757319406|   0.753766378659703|
|-0.08900615667610691|-0.04450307833805...|
+--------------------+--------------------+
only showing top 3 rows

In [215]:
df_2.select(col('n') * 2, col('n')).show(3)

+--------------------+--------------------+
|             (n * 2)|                   n|
+--------------------+--------------------+
|  -1.424781324101176|  -0.712390662050588|
|   1.507532757319406|   0.753766378659703|
|-0.08900615667610691|-0.04450307833805...|
+--------------------+--------------------+
only showing top 3 rows

In [216]:
df.select(col('n'), col('n') * -1).alias('n2').show(4)

+--------------------+--------------------+
|                   n|            (n * -1)|
+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|
+--------------------+--------------------+
only showing top 4 rows

In [148]:
n2 = col('n') * -1
df.select('n', n2)

DataFrame[n: double, (n * -1): double]

In [154]:
df.select('n', (col('n') * -1).alias('n2')).show(5)

+--------------------+--------------------+
|                   n|                  n2|
+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|
|  1.3451017084510097| -1.3451017084510097|
+--------------------+--------------------+
only showing top 5 rows

In [158]:
n3 = (col('n') ** 2).alias('n3')
df.select('n', n2, n3).show(3)

+--------------------+--------------------+--------------------+
|                   n|            (n * -1)|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
+--------------------+--------------------+--------------------+
only showing top 3 rows

In [217]:
df.select('n', (col('n') * -1).alias('n2'), (col('n') ** 2).alias('n3')).show(3)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
+--------------------+--------------------+--------------------+
only showing top 3 rows

In [155]:
df.group + df.abool

Column<b'(group + abool)'>

In [222]:
#df.select(df.group + df.abool).show()