In [1]:
#ignore warnings
import warnings
warnings.filterwarnings("ignore")

#wrangling
import pandas as pd
import numpy as np

#explore
import scipy.stats as stats

#visuals
import matplotlib.pyplot as plt
import seaborn as sns


#default pandas decimal display formatting
pd.options.display.float_format='{:20,.2f}'.format

import acquire
import prepare
import summarize
import wrangle_zillow
import env

## Acquire

1. Acquire data from mySQL. Create a single dataframe.

In [2]:
df = acquire.acquire_zillow()

In [3]:
df.head()

,logerror,transactiondate,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,...,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,0.03,2017-01-01,1727539,14297519,nan,nan,nan,3.50,4.00,nan,...,None,nan,"60,590,630,072,012.00",None,None,None,None,Single Family Residential,None,None
1,0.06,2017-01-01,1387261,17052889,nan,nan,nan,1.00,2.00,nan,...,None,nan,"61,110,010,023,006.00",None,None,None,None,Single Family Residential,None,None
2,0.01,2017-01-01,11677,14186244,nan,nan,nan,2.00,3.00,nan,...,None,nan,"60,590,218,022,012.00",None,None,None,None,Single Family Residential,None,None
3,-0.10,2017-01-01,2288172,12177905,nan,nan,nan,3.00,4.00,nan,...,None,nan,"60,373,001,001,006.00",None,None,None,Central,Single Family Residential,None,None
4,0.01,2017-01-01,1970746,10887214,1.00,nan,nan,3.00,3.00,nan,...,None,nan,"60,371,236,012,000.00",Central,None,None,Central,Condominium,None,None

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

- Use the df_summary function found in the acquire.py

In [4]:
acquire.df_summary(df)

--- Shape: (77381, 68)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 68 columns):
logerror                        77381 non-null float64
transactiondate                 77381 non-null object
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
architecturalstyletypeid        206 non-null float64
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
threequarterbathnbr             10096 non-null float64
typeconstructiontypeid          222 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
taxvaluedollarcnt               77380 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
censustractandblock             77137 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyledesc          206 non-null object
buildingclassdesc               15 non-null object
heatingorsystemdesc             49440 non-null object
propertylandusedesc             77381 non-null object
storydesc                       50 non-null object
typeconstructiondesc            222 non-null object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB
--- Descriptions
                   logerror transactiondate                   id  \
count             77,381.00           77381            77,381.00
unique                  nan             265                  nan
top                     nan      2017-06-30                  nan
freq                    nan            1189                  nan
mean                   0.02             NaN         1,495,138.90
std                    0.17             NaN           860,907.05
min                   -4.66             NaN               349.00
25%                   -0.02             NaN           752,070.00
50%                    0.01             NaN         1,497,932.00
75%                    0.04             NaN         2,240,535.00
max                    5.26             NaN         2,982,274.00

                   parcelid  airconditioningtypeid  architecturalstyletypeid  \
count             77,381.00              24,953.00                    206.00
unique                  nan                    nan                       nan
top                     nan                    nan                       nan
freq                    nan                    nan                       nan
mean          13,007,150.51                   1.81                      7.39
std            3,481,345.65                   2.97                      2.73
min           10,711,855.00                   1.00                      2.00
25%           11,538,305.00                   1.00                      7.00
50%           12,531,568.00                   1.00                      7.00
75%           14,211,831.00                   1.00                      7.00
max          167,689,317.00                  13.00                     21.00

               basementsqft          bathroomcnt           bedroomcnt  \
count                 50.00            77,381.00            77,381.00
unique                  nan                  nan                  nan
top                     nan                  nan                  nan
freq                    nan                  nan                  nan
mean                 679.72                 2.30                 3.05
std                  689.70                 1.00                 1.14
min                   38.00                 0.00                 0.00
25%                  273.00                 2.00                 2.00
50%                  515.00                 2.00                 3.00
75%                  796.50                 3.00                 4.00
max                3,560.00                18.00                16.00

        buildingclasstypeid  ...  taxdelinquencyflag   taxdelinquencyyear  \
count                 15.00  ...                2886             2,886.00
unique                  nan  ...                   1                  nan
top                     nan  ...                   Y                  nan
freq                    nan  ...                2886                  nan
mean                   3.93  ...                 NaN                14.09
std                    0.26  ...                 NaN                 2.19
min                    3.00  ...                 NaN                 3.00
25%                    4.00  ...                 NaN                14.00
50%                    4.00  ...                 NaN                15.00
75%                    4.00  ...                 NaN                15.00
max                    4.00  ...                 NaN                99.00

          censustractandblock  airconditioningdesc  architecturalstyledesc  \
count               77,137.00                24953                     206
unique                    nan                    5                       5
top                       nan              Central            Contemporary
freq                      nan                23133                     172
mean    60,496,733,646,264.16                  NaN                     NaN
std      1,535,241,981,138.57                  NaN                     NaN
min     60,371,011,101,000.00                  NaN                     NaN
25%     60,373,109,005,002.00                  NaN                     NaN
50%     60,376,032,003,008.00                  NaN                     NaN
75%     60,590,423,251,008.00                  NaN                     NaN
max    483,030,105,084,015.00                  NaN                     NaN

                                     buildingclassdesc  heatingorsystemdesc  \
count                                               15                49440
unique                                               2                   10
top     Buildings having wood or wood and steel frames              Central
freq                                                14                33550
mean                                               NaN                  NaN
std                                                NaN                  NaN
min                                                NaN                  NaN
25%                                                NaN                  NaN
50%                                                NaN                  NaN
75%                                                NaN                  NaN
max                                                NaN                  NaN

              propertylandusedesc  storydesc  typeconstructiondesc
count                       77381         50                   222
unique                         13          1                     4
top     Single Family Residential   Basement                 Frame
freq                        52320         50                   219
mean                          NaN        NaN                   NaN
std                           NaN        NaN                   NaN
min                           NaN        NaN                   NaN
25%                           NaN        NaN                   NaN
50%                           NaN        NaN                   NaN
75%                           NaN        NaN                   NaN
max                           NaN        NaN                   NaN

[11 rows x 68 columns]
--- Nulls By Column
                              num_rows_missing     pct_rows_missing
logerror                                     0                 0.00
transactiondate                              0                 0.00
id                                           0                 0.00
parcelid                                     0                 0.00
airconditioningtypeid                    52428                 0.68
architecturalstyletypeid                 77175                 1.00
basementsqft                             77331                 1.00
bathroomcnt                                  0                 0.00
bedroomcnt                                   0                 0.00
buildingclasstypeid                      77366                 1.00
buildingqualitytypeid                    27709                 0.36
calculatedbathnbr                          609                 0.01
decktypeid                               76767                 0.99
finishedfloor1squarefeet                 71358                 0.92
calculatedfinishedsquarefeet               196                 0.00
finishedsquarefeet12                      3632                 0.05
finishedsquarefeet13                     77340                 1.00
finishedsquarefeet15                     74372                 0.96
finishedsquarefeet50                     71358                 0.92
finishedsquarefeet6                      76995                 1.00
fips                                         0                 0.00
fireplacecnt                             69105                 0.89
fullbathcnt                                609                 0.01
garagecarcnt                             51907                 0.67
garagetotalsqft                          51907                 0.67
hashottuborspa                           75843                 0.98
heatingorsystemtypeid                    27941                 0.36
latitude                                     0                 0.00
longitude                                    0                 0.00
lotsizesquarefeet                         8239                 0.11
...                                        ...                  ...
rawcensustractandblock                       0                 0.00
regionidcity                              1471                 0.02
regionidcounty                               0                 0.00
regionidneighborhood                     46491                 0.60
regionidzip                                 50                 0.00
roomcnt                                      0                 0.00
storytypeid                              77331                 1.00
threequarterbathnbr                      67285                 0.87
typeconstructiontypeid                   77159                 1.00
unitcnt                                  26818                 0.35
yardbuildingsqft17                       74993                 0.97
yardbuildingsqft26                       77311                 1.00
yearbuilt                                  263                 0.00
numberofstories                          59821                 0.77
fireplaceflag                            77209                 1.00
structuretaxvaluedollarcnt                 112                 0.00
taxvaluedollarcnt                            1                 0.00
assessmentyear                               0                 0.00
landtaxvaluedollarcnt                        2                 0.00
taxamount                                    5                 0.00
taxdelinquencyflag                       74495                 0.96
taxdelinquencyyear                       74495                 0.96
censustractandblock                        244                 0.00
airconditioningdesc                      52428                 0.68
architecturalstyledesc                   77175                 1.00
buildingclassdesc                        77366                 1.00
heatingorsystemdesc                      27941                 0.36
propertylandusedesc                          0                 0.00
storydesc                                77331                 1.00
typeconstructiondesc                     77159                 1.00

[68 rows x 2 columns]
--- Nulls By Row

   num_cols_missing    pct_cols_missing  num_rows
0                23   33.82352941176471         2
1                24  35.294117647058826        13
2                25   36.76470588235294        24
3                26   38.23529411764706        65
4                27  39.705882352941174       316
5                28   41.17647058823529       455
6                29   42.64705882352941      5270
7                30   44.11764705882353      3455
8                31  45.588235294117645      9891
9                32   47.05882352941176     12579
10               33  48.529411764705884     14782
11               34                50.0     13327
12               35  51.470588235294116      5148
13               36   52.94117647058824      5775
14               37   54.41176470588235      3620
15               38   55.88235294117647      1925
16               39   57.35294117647059       285
17               40   58.82352941176471       230
18               41   60.29411764705882        29
19               42   61.76470588235294        23
20               43   63.23529411764706        28
21               44   64.70588235294117        78
22               45   66.17647058823529        50
23               46   67.64705882352942         5
24               47   69.11764705882352         3
25               48   70.58823529411765         3
--- Value Counts
(-4.666, -3.664]                                                                                                                                                                                                                               3
(-3.664, -2.672]                                                                                                                                                                                                                               1
(-2.672, -1.68]                                                                                                                                                                                                                               36
(-1.68, -0.688]                                                                                                                                                                                                                              142
(-0.688, 0.304]                                                                                                                                                                                                                            75340
(0.304, 1.296]                                                                                                                                                                                                                              1684
(1.296, 2.287]                                                                                                                                                                                                                               102
(2.287, 3.279]                                                                                                                                                                                                                                71
(3.279, 4.271]                                                                                                                                                                                                                                 1
(4.271, 5.263]                                                                                                                                                                                                                                 1
2017-06-30                                                                                                                                                                                                                                  1189
2017-04-28                                                                                                                                                                                                                                   911
2017-05-31                                                                                                                                                                                                                                   867
2017-07-28                                                                                                                                                                                                                                   814
2017-08-31                                                                                                                                                                                                                                   781
2017-03-31                                                                                                                                                                                                                                   770
2017-05-26                                                                                                                                                                                                                                   743
2017-06-16                                                                                                                                                                                                                                   727
2017-06-23                                                                                                                                                                                                                                   706
2017-08-25                                                                                                                                                                                                                                   696
2017-07-07                                                                                                                                                                                                                                   685
2017-09-01                                                                                                                                                                                                                                   669
2017-08-11                                                                                                                                                                                                                                   619
2017-07-14                                                                                                                                                                                                                                   618
2017-05-05                                                                                                                                                                                                                                   616
2017-09-08                                                                                                                                                                                                                                   615
2017-06-01                                                                                                                                                                                                                                   614
2017-03-24                                                                                                                                                                                                                                   609
2017-07-31                                                                                                                                                                                                                                   601
2017-05-12                                                                                                                                                                                                                                   598
                                                                                                                                                                                                                                           ...
Buildings having wood or wood and steel frames                                                                                                                                                                                                14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.        1
Central                                                                                                                                                                                                                                    33550
Floor/Wall                                                                                                                                                                                                                                 14065
Yes                                                                                                                                                                                                                                          846
Forced air                                                                                                                                                                                                                                   776
Solar                                                                                                                                                                                                                                        104
None                                                                                                                                                                                                                                          59
Radiant                                                                                                                                                                                                                                       23
Baseboard                                                                                                                                                                                                                                     13
Gravity                                                                                                                                                                                                                                        3
Heat Pump                                                                                                                                                                                                                                      1
Single Family Residential                                                                                                                                                                                                                  52320
Condominium                                                                                                                                                                                                                                19294
Duplex (2 Units, Any Combination)                                                                                                                                                                                                           2009
Planned Unit Development                                                                                                                                                                                                                    1944
Quadruplex (4 Units, Any Combination)                                                                                                                                                                                                        727
Triplex (3 Units, Any Combination)                                                                                                                                                                                                           535
Cluster Home                                                                                                                                                                                                                                 333
Mobile Home                                                                                                                                                                                                                                   74
Manufactured, Modular, Prefabricated Homes                                                                                                                                                                                                    58
Residential General                                                                                                                                                                                                                           37
Cooperative                                                                                                                                                                                                                                   29
Commercial/Office/Residential Mixed Used                                                                                                                                                                                                      15
Townhouse                                                                                                                                                                                                                                      6
Basement                                                                                                                                                                                                                                      50
Frame                                                                                                                                                                                                                                        219
Masonry                                                                                                                                                                                                                                        1
Concrete                                                                                                                                                                                                                                       1
Metal                                                                                                                                                                                                                                          1
Length: 2858, dtype: int64

In [5]:
acquire.df_value_counts(df)

(-4.666, -3.664]                                                                                                                                                                                                                               3
(-3.664, -2.672]                                                                                                                                                                                                                               1
(-2.672, -1.68]                                                                                                                                                                                                                               36
(-1.68, -0.688]                                                                                                                                                                                                                              142
(-0.688, 0.304]                                                                                                                                                                                                                            75340
(0.304, 1.296]                                                                                                                                                                                                                              1684
(1.296, 2.287]                                                                                                                                                                                                                               102
(2.287, 3.279]                                                                                                                                                                                                                                71
(3.279, 4.271]                                                                                                                                                                                                                                 1
(4.271, 5.263]                                                                                                                                                                                                                                 1
2017-06-30                                                                                                                                                                                                                                  1189
2017-04-28                                                                                                                                                                                                                                   911
2017-05-31                                                                                                                                                                                                                                   867
2017-07-28                                                                                                                                                                                                                                   814
2017-08-31                                                                                                                                                                                                                                   781
2017-03-31                                                                                                                                                                                                                                   770
2017-05-26                                                                                                                                                                                                                                   743
2017-06-16                                                                                                                                                                                                                                   727
2017-06-23                                                                                                                                                                                                                                   706
2017-08-25                                                                                                                                                                                                                                   696
2017-07-07                                                                                                                                                                                                                                   685
2017-09-01                                                                                                                                                                                                                                   669
2017-08-11                                                                                                                                                                                                                                   619
2017-07-14                                                                                                                                                                                                                                   618
2017-05-05                                                                                                                                                                                                                                   616
2017-09-08                                                                                                                                                                                                                                   615
2017-06-01                                                                                                                                                                                                                                   614
2017-03-24                                                                                                                                                                                                                                   609
2017-07-31                                                                                                                                                                                                                                   601
2017-05-12                                                                                                                                                                                                                                   598
                                                                                                                                                                                                                                           ...
Buildings having wood or wood and steel frames                                                                                                                                                                                                14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.        1
Central                                                                                                                                                                                                                                    33550
Floor/Wall                                                                                                                                                                                                                                 14065
Yes                                                                                                                                                                                                                                          846
Forced air                                                                                                                                                                                                                                   776
Solar                                                                                                                                                                                                                                        104
None                                                                                                                                                                                                                                          59
Radiant                                                                                                                                                                                                                                       23
Baseboard                                                                                                                                                                                                                                     13
Gravity                                                                                                                                                                                                                                        3
Heat Pump                                                                                                                                                                                                                                      1
Single Family Residential                                                                                                                                                                                                                  52320
Condominium                                                                                                                                                                                                                                19294
Duplex (2 Units, Any Combination)                                                                                                                                                                                                           2009
Planned Unit Development                                                                                                                                                                                                                    1944
Quadruplex (4 Units, Any Combination)                                                                                                                                                                                                        727
Triplex (3 Units, Any Combination)                                                                                                                                                                                                           535
Cluster Home                                                                                                                                                                                                                                 333
Mobile Home                                                                                                                                                                                                                                   74
Manufactured, Modular, Prefabricated Homes                                                                                                                                                                                                    58
Residential General                                                                                                                                                                                                                           37
Cooperative                                                                                                                                                                                                                                   29
Commercial/Office/Residential Mixed Used                                                                                                                                                                                                      15
Townhouse                                                                                                                                                                                                                                      6
Basement                                                                                                                                                                                                                                      50
Frame                                                                                                                                                                                                                                        219
Masonry                                                                                                                                                                                                                                        1
Concrete                                                                                                                                                                                                                                       1
Metal                                                                                                                                                                                                                                          1
Length: 2858, dtype: int64

In [6]:
# This value count give unique values found in the column (provide column name) and its count
df.bathroomcnt.value_counts()

 2.00    31485
 3.00    17313
 1.00    12902
 2.50     6604
 4.00     3352
 1.50     1415
 3.50     1034
 5.00     1026
 4.50      695
 0.00      592
 6.00      417
 5.50      224
 7.00      113
 8.00      108
 6.50       47
 9.00       23
 7.50       16
10.00        7
 8.50        3
11.00        3
13.00        1
18.00        1
Name: bathroomcnt, dtype: int64

In [7]:
df.dtypes

logerror                        float64
transactiondate                  object
id                                int64
parcelid                          int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  float64
heatingorsystemtypeid           float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
                                 ...
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   float64
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
censustractandblock             float64
airconditioningdesc              object
architecturalstyledesc           object
buildingclassdesc                object
heatingorsystemdesc              object
propertylandusedesc              object
storydesc                        object
typeconstructiondesc             object
Length: 68, dtype: object

In [8]:
# Plot the distributions 
# df.hist(figsize=(24, 10), bins=20)

3. Write a function that takes in a dataframe of observations and attributes and returns a df where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [9]:
# Function from summarize.py that takes in a dataframe and returns a dataframe 
# with the number of rows and percent of rows with missing values for each column.

In [10]:
null_col = acquire.nulls_by_col(df)

4. write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [11]:
# Function from summarize.py that takes in a dataframe and returns a dataframe with 3 columns:  
#    - the number of columns missing
#    - percent of columns missing
#    - number of rows with n columns missing

In [12]:
null_row = summarize.nulls_by_row(df)

## Prep

1. Remove any properties that are likely to be something other than a single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [13]:
df = prepare.zillow_single_unit(df)

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

- The input:
 - A dataframe
 
 - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
 
 - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing)

- The output:
 - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.

In [14]:
df = prepare.handle_missing_values(df)

3. Decide how to handle the remaining missing values:

 - Fill with constant value

 - Impute with mean, median, mode

 - Drop row/column

In [15]:
# df.dropna(inplace = True)

4. Create a wrangle_zillow.py

 - Functions of the work above needed to acquire and prepare a new sample of data.

In [17]:
df = wrangle_zillow.wrangle_zillow_data()

NameError: name 'acquire_zillow' is not defined