In [1]:
#ignore warnings
import warnings
warnings.filterwarnings("ignore")

#wrangling
import pandas as pd
import numpy as np

#explore
import scipy.stats as stats

#visuals
import matplotlib.pyplot as plt
import seaborn as sns


# default pandas decimal display formatting
#pd.options.display.float_format='{:20,.2f}'.format

import acquire
import prepare
import summarize
import wrangle_zillow
import env

## Acquire

1. Acquire data from mySQL. Create a single dataframe.

In [2]:
df = acquire.acquire_zillow()

In [3]:
df.head()

,logerror,transactiondate,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,...,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,0.025595,2017-01-01,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,...,None,NaN,6.059063e+13,None,None,None,None,Single Family Residential,None,None
1,0.055619,2017-01-01,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,...,None,NaN,6.111001e+13,None,None,None,None,Single Family Residential,None,None
2,0.005383,2017-01-01,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,...,None,NaN,6.059022e+13,None,None,None,None,Single Family Residential,None,None
3,-0.103410,2017-01-01,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,...,None,NaN,6.037300e+13,None,None,None,Central,Single Family Residential,None,None
4,0.006940,2017-01-01,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,...,None,NaN,6.037124e+13,Central,None,None,Central,Condominium,None,None

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

- Use the df_summary function found in the acquire.py

In [4]:
acquire.df_summary(df)

--- Shape: (77381, 68)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 68 columns):
logerror                        77381 non-null float64
transactiondate                 77381 non-null object
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
architecturalstyletypeid        206 non-null float64
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
threequarterbathnbr             10096 non-null float64
typeconstructiontypeid          222 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
taxvaluedollarcnt               77380 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
censustractandblock             77137 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyledesc          206 non-null object
buildingclassdesc               15 non-null object
heatingorsystemdesc             49440 non-null object
propertylandusedesc             77381 non-null object
storydesc                       50 non-null object
typeconstructiondesc            222 non-null object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.1+ MB
--- Descriptions
            logerror transactiondate            id      parcelid  \
count   77381.000000           77381  7.738100e+04  7.738100e+04
unique           NaN             265           NaN           NaN
top              NaN      2017-06-30           NaN           NaN
freq             NaN            1189           NaN           NaN
mean        0.016625             NaN  1.495139e+06  1.300715e+07
std         0.170191             NaN  8.609071e+05  3.481346e+06
min        -4.655420             NaN  3.490000e+02  1.071186e+07
25%        -0.024377             NaN  7.520700e+05  1.153830e+07
50%         0.006627             NaN  1.497932e+06  1.253157e+07
75%         0.039203             NaN  2.240535e+06  1.421183e+07
max         5.262999             NaN  2.982274e+06  1.676893e+08

        airconditioningtypeid  architecturalstyletypeid  basementsqft  \
count            24953.000000                206.000000     50.000000
unique                    NaN                       NaN           NaN
top                       NaN                       NaN           NaN
freq                      NaN                       NaN           NaN
mean                 1.813289                  7.388350    679.720000
std                  2.967894                  2.734542    689.703546
min                  1.000000                  2.000000     38.000000
25%                  1.000000                  7.000000    273.000000
50%                  1.000000                  7.000000    515.000000
75%                  1.000000                  7.000000    796.500000
max                 13.000000                 21.000000   3560.000000

         bathroomcnt    bedroomcnt  buildingclasstypeid  ...  \
count   77381.000000  77381.000000            15.000000  ...
unique           NaN           NaN                  NaN  ...
top              NaN           NaN                  NaN  ...
freq             NaN           NaN                  NaN  ...
mean        2.299130      3.053489             3.933333  ...
std         0.996651      1.139096             0.258199  ...
min         0.000000      0.000000             3.000000  ...
25%         2.000000      2.000000             4.000000  ...
50%         2.000000      3.000000             4.000000  ...
75%         3.000000      4.000000             4.000000  ...
max        18.000000     16.000000             4.000000  ...

        taxdelinquencyflag  taxdelinquencyyear  censustractandblock  \
count                 2886         2886.000000         7.713700e+04
unique                   1                 NaN                  NaN
top                      Y                 NaN                  NaN
freq                  2886                 NaN                  NaN
mean                   NaN           14.087318         6.049673e+13
std                    NaN            2.185663         1.535242e+12
min                    NaN            3.000000         6.037101e+13
25%                    NaN           14.000000         6.037311e+13
50%                    NaN           15.000000         6.037603e+13
75%                    NaN           15.000000         6.059042e+13
max                    NaN           99.000000         4.830301e+14

        airconditioningdesc  architecturalstyledesc  \
count                 24953                     206
unique                    5                       5
top                 Central            Contemporary
freq                  23133                     172
mean                    NaN                     NaN
std                     NaN                     NaN
min                     NaN                     NaN
25%                     NaN                     NaN
50%                     NaN                     NaN
75%                     NaN                     NaN
max                     NaN                     NaN

                                     buildingclassdesc  heatingorsystemdesc  \
count                                               15                49440
unique                                               2                   10
top     Buildings having wood or wood and steel frames              Central
freq                                                14                33550
mean                                               NaN                  NaN
std                                                NaN                  NaN
min                                                NaN                  NaN
25%                                                NaN                  NaN
50%                                                NaN                  NaN
75%                                                NaN                  NaN
max                                                NaN                  NaN

              propertylandusedesc  storydesc  typeconstructiondesc
count                       77381         50                   222
unique                         13          1                     4
top     Single Family Residential   Basement                 Frame
freq                        52320         50                   219
mean                          NaN        NaN                   NaN
std                           NaN        NaN                   NaN
min                           NaN        NaN                   NaN
25%                           NaN        NaN                   NaN
50%                           NaN        NaN                   NaN
75%                           NaN        NaN                   NaN
max                           NaN        NaN                   NaN

[11 rows x 68 columns]
--- Nulls By Column
                              num_rows_missing  pct_rows_missing
logerror                                     0          0.000000
transactiondate                              0          0.000000
id                                           0          0.000000
parcelid                                     0          0.000000
airconditioningtypeid                    52428          0.677531
architecturalstyletypeid                 77175          0.997338
basementsqft                             77331          0.999354
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
buildingclasstypeid                      77366          0.999806
buildingqualitytypeid                    27709          0.358085
calculatedbathnbr                          609          0.007870
decktypeid                               76767          0.992065
finishedfloor1squarefeet                 71358          0.922164
calculatedfinishedsquarefeet               196          0.002533
finishedsquarefeet12                      3632          0.046937
finishedsquarefeet13                     77340          0.999470
finishedsquarefeet15                     74372          0.961114
finishedsquarefeet50                     71358          0.922164
finishedsquarefeet6                      76995          0.995012
fips                                         0          0.000000
fireplacecnt                             69105          0.893049
fullbathcnt                                609          0.007870
garagecarcnt                             51907          0.670798
garagetotalsqft                          51907          0.670798
hashottuborspa                           75843          0.980124
heatingorsystemtypeid                    27941          0.361083
latitude                                     0          0.000000
longitude                                    0          0.000000
lotsizesquarefeet                         8239          0.106473
...                                        ...               ...
rawcensustractandblock                       0          0.000000
regionidcity                              1471          0.019010
regionidcounty                               0          0.000000
regionidneighborhood                     46491          0.600806
regionidzip                                 50          0.000646
roomcnt                                      0          0.000000
storytypeid                              77331          0.999354
threequarterbathnbr                      67285          0.869529
typeconstructiontypeid                   77159          0.997131
unitcnt                                  26818          0.346571
yardbuildingsqft17                       74993          0.969140
yardbuildingsqft26                       77311          0.999095
yearbuilt                                  263          0.003399
numberofstories                          59821          0.773071
fireplaceflag                            77209          0.997777
structuretaxvaluedollarcnt                 112          0.001447
taxvaluedollarcnt                            1          0.000013
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        2          0.000026
taxamount                                    5          0.000065
taxdelinquencyflag                       74495          0.962704
taxdelinquencyyear                       74495          0.962704
censustractandblock                        244          0.003153
airconditioningdesc                      52428          0.677531
architecturalstyledesc                   77175          0.997338
buildingclassdesc                        77366          0.999806
heatingorsystemdesc                      27941          0.361083
propertylandusedesc                          0          0.000000
storydesc                                77331          0.999354
typeconstructiondesc                     77159          0.997131

[68 rows x 2 columns]
--- Nulls By Row

   num_cols_missing    pct_cols_missing  num_rows
0                23   33.82352941176471         2
1                24  35.294117647058826        13
2                25   36.76470588235294        24
3                26   38.23529411764706        65
4                27  39.705882352941174       316
5                28   41.17647058823529       455
6                29   42.64705882352941      5270
7                30   44.11764705882353      3455
8                31  45.588235294117645      9891
9                32   47.05882352941176     12579
10               33  48.529411764705884     14782
11               34                50.0     13327
12               35  51.470588235294116      5148
13               36   52.94117647058824      5775
14               37   54.41176470588235      3620
15               38   55.88235294117647      1925
16               39   57.35294117647059       285
17               40   58.82352941176471       230
18               41   60.29411764705882        29
19               42   61.76470588235294        23
20               43   63.23529411764706        28
21               44   64.70588235294117        78
22               45   66.17647058823529        50
23               46   67.64705882352942         5
24               47   69.11764705882352         3
25               48   70.58823529411765         3
--- Value Counts
(-4.666, -3.664]                                                                                                                                                                                                                               3
(-3.664, -2.672]                                                                                                                                                                                                                               1
(-2.672, -1.68]                                                                                                                                                                                                                               36
(-1.68, -0.688]                                                                                                                                                                                                                              142
(-0.688, 0.304]                                                                                                                                                                                                                            75340
(0.304, 1.296]                                                                                                                                                                                                                              1684
(1.296, 2.287]                                                                                                                                                                                                                               102
(2.287, 3.279]                                                                                                                                                                                                                                71
(3.279, 4.271]                                                                                                                                                                                                                                 1
(4.271, 5.263]                                                                                                                                                                                                                                 1
2017-06-30                                                                                                                                                                                                                                  1189
2017-04-28                                                                                                                                                                                                                                   911
2017-05-31                                                                                                                                                                                                                                   867
2017-07-28                                                                                                                                                                                                                                   814
2017-08-31                                                                                                                                                                                                                                   781
2017-03-31                                                                                                                                                                                                                                   770
2017-05-26                                                                                                                                                                                                                                   743
2017-06-16                                                                                                                                                                                                                                   727
2017-06-23                                                                                                                                                                                                                                   706
2017-08-25                                                                                                                                                                                                                                   696
2017-07-07                                                                                                                                                                                                                                   685
2017-09-01                                                                                                                                                                                                                                   669
2017-08-11                                                                                                                                                                                                                                   619
2017-07-14                                                                                                                                                                                                                                   618
2017-05-05                                                                                                                                                                                                                                   616
2017-09-08                                                                                                                                                                                                                                   615
2017-06-01                                                                                                                                                                                                                                   614
2017-03-24                                                                                                                                                                                                                                   609
2017-07-31                                                                                                                                                                                                                                   601
2017-05-12                                                                                                                                                                                                                                   598
                                                                                                                                                                                                                                           ...
Buildings having wood or wood and steel frames                                                                                                                                                                                                14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.        1
Central                                                                                                                                                                                                                                    33550
Floor/Wall                                                                                                                                                                                                                                 14065
Yes                                                                                                                                                                                                                                          846
Forced air                                                                                                                                                                                                                                   776
Solar                                                                                                                                                                                                                                        104
None                                                                                                                                                                                                                                          59
Radiant                                                                                                                                                                                                                                       23
Baseboard                                                                                                                                                                                                                                     13
Gravity                                                                                                                                                                                                                                        3
Heat Pump                                                                                                                                                                                                                                      1
Single Family Residential                                                                                                                                                                                                                  52320
Condominium                                                                                                                                                                                                                                19294
Duplex (2 Units, Any Combination)                                                                                                                                                                                                           2009
Planned Unit Development                                                                                                                                                                                                                    1944
Quadruplex (4 Units, Any Combination)                                                                                                                                                                                                        727
Triplex (3 Units, Any Combination)                                                                                                                                                                                                           535
Cluster Home                                                                                                                                                                                                                                 333
Mobile Home                                                                                                                                                                                                                                   74
Manufactured, Modular, Prefabricated Homes                                                                                                                                                                                                    58
Residential General                                                                                                                                                                                                                           37
Cooperative                                                                                                                                                                                                                                   29
Commercial/Office/Residential Mixed Used                                                                                                                                                                                                      15
Townhouse                                                                                                                                                                                                                                      6
Basement                                                                                                                                                                                                                                      50
Frame                                                                                                                                                                                                                                        219
Masonry                                                                                                                                                                                                                                        1
Metal                                                                                                                                                                                                                                          1
Concrete                                                                                                                                                                                                                                       1
Length: 2858, dtype: int64

In [5]:
acquire.df_value_counts(df)

(-4.666, -3.664]                                                                                                                                                                                                                               3
(-3.664, -2.672]                                                                                                                                                                                                                               1
(-2.672, -1.68]                                                                                                                                                                                                                               36
(-1.68, -0.688]                                                                                                                                                                                                                              142
(-0.688, 0.304]                                                                                                                                                                                                                            75340
(0.304, 1.296]                                                                                                                                                                                                                              1684
(1.296, 2.287]                                                                                                                                                                                                                               102
(2.287, 3.279]                                                                                                                                                                                                                                71
(3.279, 4.271]                                                                                                                                                                                                                                 1
(4.271, 5.263]                                                                                                                                                                                                                                 1
2017-06-30                                                                                                                                                                                                                                  1189
2017-04-28                                                                                                                                                                                                                                   911
2017-05-31                                                                                                                                                                                                                                   867
2017-07-28                                                                                                                                                                                                                                   814
2017-08-31                                                                                                                                                                                                                                   781
2017-03-31                                                                                                                                                                                                                                   770
2017-05-26                                                                                                                                                                                                                                   743
2017-06-16                                                                                                                                                                                                                                   727
2017-06-23                                                                                                                                                                                                                                   706
2017-08-25                                                                                                                                                                                                                                   696
2017-07-07                                                                                                                                                                                                                                   685
2017-09-01                                                                                                                                                                                                                                   669
2017-08-11                                                                                                                                                                                                                                   619
2017-07-14                                                                                                                                                                                                                                   618
2017-05-05                                                                                                                                                                                                                                   616
2017-09-08                                                                                                                                                                                                                                   615
2017-06-01                                                                                                                                                                                                                                   614
2017-03-24                                                                                                                                                                                                                                   609
2017-07-31                                                                                                                                                                                                                                   601
2017-05-12                                                                                                                                                                                                                                   598
                                                                                                                                                                                                                                           ...
Buildings having wood or wood and steel frames                                                                                                                                                                                                14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.        1
Central                                                                                                                                                                                                                                    33550
Floor/Wall                                                                                                                                                                                                                                 14065
Yes                                                                                                                                                                                                                                          846
Forced air                                                                                                                                                                                                                                   776
Solar                                                                                                                                                                                                                                        104
None                                                                                                                                                                                                                                          59
Radiant                                                                                                                                                                                                                                       23
Baseboard                                                                                                                                                                                                                                     13
Gravity                                                                                                                                                                                                                                        3
Heat Pump                                                                                                                                                                                                                                      1
Single Family Residential                                                                                                                                                                                                                  52320
Condominium                                                                                                                                                                                                                                19294
Duplex (2 Units, Any Combination)                                                                                                                                                                                                           2009
Planned Unit Development                                                                                                                                                                                                                    1944
Quadruplex (4 Units, Any Combination)                                                                                                                                                                                                        727
Triplex (3 Units, Any Combination)                                                                                                                                                                                                           535
Cluster Home                                                                                                                                                                                                                                 333
Mobile Home                                                                                                                                                                                                                                   74
Manufactured, Modular, Prefabricated Homes                                                                                                                                                                                                    58
Residential General                                                                                                                                                                                                                           37
Cooperative                                                                                                                                                                                                                                   29
Commercial/Office/Residential Mixed Used                                                                                                                                                                                                      15
Townhouse                                                                                                                                                                                                                                      6
Basement                                                                                                                                                                                                                                      50
Frame                                                                                                                                                                                                                                        219
Masonry                                                                                                                                                                                                                                        1
Metal                                                                                                                                                                                                                                          1
Concrete                                                                                                                                                                                                                                       1
Length: 2858, dtype: int64

In [6]:
# This value count give unique values found in the column (provide column name) and its count
df.bathroomcnt.value_counts()

2.0     31485
3.0     17313
1.0     12902
2.5      6604
4.0      3352
1.5      1415
3.5      1034
5.0      1026
4.5       695
0.0       592
6.0       417
5.5       224
7.0       113
8.0       108
6.5        47
9.0        23
7.5        16
10.0        7
8.5         3
11.0        3
13.0        1
18.0        1
Name: bathroomcnt, dtype: int64

In [7]:
df.dtypes

logerror                        float64
transactiondate                  object
id                                int64
parcelid                          int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  float64
heatingorsystemtypeid           float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
                                 ...
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   float64
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
censustractandblock             float64
airconditioningdesc              object
architecturalstyledesc           object
buildingclassdesc                object
heatingorsystemdesc              object
propertylandusedesc              object
storydesc                        object
typeconstructiondesc             object
Length: 68, dtype: object

In [8]:
# Plot the distributions 
# df.hist(figsize=(24, 10), bins=20)

3. Write a function that takes in a dataframe of observations and attributes and returns a df where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [9]:
# Function from summarize.py that takes in a dataframe and returns a dataframe 
# with the number of rows and percent of rows with missing values for each column.

In [10]:
null_col = acquire.nulls_by_col(df)

4. write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [11]:
# Function from summarize.py that takes in a dataframe and returns a dataframe with 3 columns:  
#    - the number of columns missing
#    - percent of columns missing
#    - number of rows with n columns missing

In [12]:
null_row = summarize.nulls_by_row(df)

## Prep

1. Remove any properties that are likely to be something other than a single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [13]:
df = prepare.zillow_single_unit(df)

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

- The input:
 - A dataframe
 
 - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
 
 - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing)

- The output:
 - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.

In [14]:
df = prepare.handle_missing_values(df)

3. Decide how to handle the remaining missing values:

 - Fill with constant value

 - Impute with mean, median, mode

 - Drop row/column

In [15]:
# df.dropna(inplace = True)

4. Create a wrangle_zillow.py

 - Functions of the work above needed to acquire and prepare a new sample of data.

In [18]:
df = wrangle_zillow.wrangle_zillow_data()

In [19]:
df.head()

,logerror,transactiondate,id,parcelid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,fips,heatingorsystemtypeid,...,regionidcity,regionidcounty,regionidzip,roomcnt,yearbuilt,taxvaluedollarcnt,taxamount,censustractandblock,heatingorsystemdesc,propertylandusedesc
3,-0.103410,2017-01-01,2288172,12177905,3.0,4.0,8.0,2376.0,6037.0,2.0,...,396551.0,3101.0,96330.0,0.0,1970.0,145143.0,1777.51,6.037300e+13,Central,Single Family Residential
6,-0.001011,2017-01-01,781532,12095076,3.0,4.0,9.0,2962.0,6037.0,2.0,...,47019.0,3101.0,96293.0,0.0,1950.0,773303.0,9516.26,6.037461e+13,Central,Single Family Residential
8,-0.040966,2017-01-02,1246926,12790562,3.0,4.0,9.0,3039.0,6037.0,2.0,...,14634.0,3101.0,96173.0,0.0,1970.0,220583.0,3104.19,6.037500e+13,Central,Single Family Residential
10,0.005963,2017-01-02,1639362,11104527,3.0,4.0,8.0,2540.0,6037.0,2.0,...,54311.0,3101.0,96374.0,0.0,1999.0,430108.0,6103.36,6.037920e+13,Central,Single Family Residential
18,-0.035085,2017-01-02,571930,11830315,1.0,2.0,4.0,1146.0,6037.0,7.0,...,17882.0,3101.0,96003.0,0.0,1939.0,273745.0,3739.02,6.037532e+13,Floor/Wall,Single Family Residential